<!DOCTYPE HTML>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8" >
        <title>DemoMenuBundle</title>
        {% stylesheets '@WaldoDemoMenuBundle/Resources/public/css/*' output='css/style.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    </head>
    <body>
        <div class="block">
            <h1>Breadcrumb</h1>
                {% block breadcrumb %}
                {% spaceless %}
                <nav class="breadcrumb">
                {% set currentItem = knp_menu_get('WaldoDemoMenuBundle:Builder:breadCrumb').getBreadcrumbsArray %}
                {% for item in currentItem %}
                    {% if loop.index != 1 %}
                        {% if loop.index > 2 %} &gt; {% endif %}
                        {% if not loop.last %}<a href="{{ item.uri }}">{{ item.label }}</a>
                        {% else %}<span>{{ item.label }}</span>{% endif %}
                    {% endif %}
                {% endfor %}
                </nav>
               {% endspaceless %}
               {% endblock %}
            
            <h1>Breadcrumb By CnertaBundle</h1>
            <nav class="cnerta-breadcrumb">
            {{ cnerta_breadcrumb_render('WaldoDemoMenuBundle:Builder:menuPrincipal') }}
            </nav>
        </div>

        <div class="block">
            <h1>Menu</h1>
            <nav class="menu">
    {{ knp_menu_render('WaldoDemoMenuBundle:Builder:menuPrincipal') }}
            </nav>
        </div>
            
        <div>
{% block body %}{% endblock body %}
        </div>
    </body>
</html>